body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin-top: 3em;
  padding-top: 2em;
  height: calc(100vh - 5em);
}

.fabBtns {
  position: fixed;
  top: calc(100vh - 160px);
  left: calc(100vw - 86px);
}

.loginOptions {
  display: grid;
  height: calc(100vh - 4em);
  margin-top: 4em;
  align-items: center;
}

#firebaseui_container {
  margin-top: 0 !important;
}

.addBtn {
  margin-top: 12px;
}

#firebaseui_container {
  margin-top: -36em;
}
