.filesDropzone {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: ghostwhite;
  margin-top: 12px;
}

.singleExpense {
  width: 100%;
}

.chipList {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 6px;
}
